# Загрузка Pandas и очистка данных

In [43]:
import pandas as pd

In [46]:
df = pd.read_csv('main_task.csv')

In [47]:
df.sample(3)

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
967,id_1079,Lisbon,"['Seafood', 'Mediterranean', 'European', 'Port...",1080.0,4.0,$$ - $$$,167.0,"[['Enjoyable and local', 'Fascinating Neighbou...",/Restaurant_Review-g189158-d2703359-Reviews-A_...,d2703359
28317,id_1654,Copenhagen,NaN,1658.0,3.5,NaN,3.0,"[['Amazing!', 'Real mexican food'], ['10/23/20...",/Restaurant_Review-g189541-d8630006-Reviews-Ka...,d8630006
8965,id_175,Brussels,"['French', 'Belgian', 'European', 'Gluten Free...",176.0,4.0,$$ - $$$,204.0,"[['Very good business lunch', 'Peï & Meî'], ['...",/Restaurant_Review-g188644-d6622833-Reviews-Pe...,d6622833

In [58]:
# Обозначения уровней цен
df['Price Range'].value_counts()

# Сколько ресторанов относятся к среднему ценовому сегменту?
df['Price Range'].value_counts()[0]

18412

In [25]:
# Ваш код по очистке данных и генерации новых признаков
# При необходимости добавьте ячейки

In [36]:
df = df.drop(['City', 'Cuisine Style', 'Price Range', 'Reviews', \
           'URL_TA', 'ID_TA'], axis=1)
df['Number of Reviews'] = df['Number of Reviews'].fillna(df['Number of Reviews'].mean())

# Разбиваем датафрейм на части, необходимые для обучения и тестирования модели

In [37]:
# Х - данные с информацией о ресторанах, у - целевая переменная (рейтинги ресторанов)
X = df.drop(['Restaurant_id', 'Rating'], axis = 1)
y = df['Rating']

In [38]:
# Загружаем специальный инструмент для разбивки:
from sklearn.model_selection import train_test_split

In [39]:
# Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.
# Для тестирования мы будем использовать 25% от исходного датасета.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

# Создаём, обучаем и тестируем модель

In [40]:
# Импортируем необходимые библиотеки:
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели
from sklearn import metrics # инструменты для оценки точности модели

In [41]:
# Создаём модель
regr = RandomForestRegressor(n_estimators=100)

# Обучаем модель на тестовом наборе данных
regr.fit(X_train, y_train)

# Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.
# Предсказанные значения записываем в переменную y_pred
y_pred = regr.predict(X_test)

In [42]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они в среднем отличаются
# Метрика называется Mean Absolute Error (MAE) и показывает среднее отклонение предсказанных значений от фактических.
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))

MAE: 0.4334600200396826