# Загрузка Pandas и очистка данных

In [57]:
import pandas as pd
df = pd.read_csv('main_task.csv')

## Price Range

In [3]:
# Замена значений Price Range на числовые:
dict_price_range = {'$': 1, '$$ - $$$': 2, '$$$$': 3}
df['Price Range'] = df['Price Range'].replace(to_replace=dict_price_range)

In [4]:
# Замена пустых значений Price Range на наиболее популярные значения:     
df['Price Range'] = df['Price Range'].\
fillna(df['Price Range'].value_counts().index[0])

## City

In [5]:
# Создание Dummy-переменных
city = pd.get_dummies(df['City'], drop_first=True)

In [6]:
# Конкатенация в один датафрейм
df = pd.concat([df, city], axis=1)

In [7]:
# Удаление столбца City
df = df.drop(['City'], axis=1)

## Cuisine Style

In [8]:
# Замена пустых значений на "Uknown":
df['Cuisine Style'] = df['Cuisine Style'].fillna("Uknown")

In [9]:
# Применение функции форматирования значений столбца:
def list_cuisine(cell):
    """Функция форматирует значения в ячейках столбца"""
    cell = str(cell)
    cell = cell.replace("[", "")
    cell = cell.replace("]", "")
    cell = cell.replace("'", "")
    cell = cell.split(', ')
    return cell


df['Cuisine Style'] = df['Cuisine Style'].apply(list_cuisine)


# Второй вариант решения:
# df['Cuisine Style'] = df['Cuisine Style'].apply(lambda x: str(x).replace("[", ""))
# df['Cuisine Style'] = df['Cuisine Style'].apply(lambda x: str(x).replace("]", ""))
# df['Cuisine Style'] = df['Cuisine Style'].apply(lambda x: str(x).replace("'", ""))
# df['Cuisine Style'] = df['Cuisine Style'].apply(lambda x: x.split(', '))

In [10]:
# Какое среднее количество кухонь предлагается в одном ресторане?
round(df['Cuisine Style'].apply(lambda x: len(x)).mean(), 1)

# Сколько типов кухонь представлено в наборе данных (без "Uknown")?
df = df.explode('Cuisine Style')
len(df['Cuisine Style'].value_counts())-1

# Какая кухня представлена в наибольшем количестве ресторанов?
df = df.explode('Cuisine Style')
df['Cuisine Style'].value_counts().index[0]

'Vegetarian Friendly'

In [11]:
# Создание Dummy-переменных:
cuisine = pd.get_dummies(df['Cuisine Style'], drop_first=True)

In [12]:
# Конкатенация в один датафрейм
df = pd.concat([df, cuisine], axis=1)

In [13]:
# Удаление столбца Cuisine Style
df = df.drop(['Cuisine Style'], axis=1)

## Reviews

In [45]:
df['Reviews'] = df['Reviews'].apply(lambda x: str(x).replace("[], []", "Uknown"))

In [59]:
# Замена пропусков:
# import re
# pattern = re.compile('[[][]][,]\s[[][]]')
# for cell in df['Reviews']:
#     print(cell)
#     pattern.findall(cell)

# Форматирование значений ячеек столбца
df['Reviews'] = df['Reviews'].apply(lambda x: str(x).replace("'", ""))
df['Reviews'] = df['Reviews'].apply(lambda x: str(x).replace("[", ""))
df['Reviews'] = df['Reviews'].apply(lambda x: str(x).replace("]", ""))
df['Reviews'] = df['Reviews'].apply(lambda x: str(x).split(", "))
df['Reviews'] = df['Reviews'].apply(lambda x: x[-2:])

# Применение explode():
df = df.explode('Reviews')

df.head(20)

# # Отбор числовых значений из ячеек
# # import re
# # pattern = re.compile('\d+[/]\d+[/]\d+[/]')

# # for cell in df['Reviews']:
# #     print(cell)
# #     pattern.findall(cell)

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
0,id_5569,Paris,"['European', 'French', 'International']",5570.0,3.5,$$ - $$$,194.0,12/31/2017,/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643
0,id_5569,Paris,"['European', 'French', 'International']",5570.0,3.5,$$ - $$$,194.0,11/20/2017,/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643
1,id_1535,Stockholm,NaN,1537.0,4.0,NaN,10.0,07/06/2017,/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032
1,id_1535,Stockholm,NaN,1537.0,4.0,NaN,10.0,06/19/2016,/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032
2,id_352,London,"['Japanese', 'Sushi', 'Asian', 'Grill', 'Veget...",353.0,4.5,$$$$,688.0,01/08/2018,/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781
2,id_352,London,"['Japanese', 'Sushi', 'Asian', 'Grill', 'Veget...",353.0,4.5,$$$$,688.0,01/06/2018,/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781
3,id_3456,Berlin,NaN,3458.0,5.0,NaN,3.0,,/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776
3,id_3456,Berlin,NaN,3458.0,5.0,NaN,3.0,,/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776
4,id_615,Munich,"['German', 'Central European', 'Vegetarian Fri...",621.0,4.0,$$ - $$$,84.0,11/18/2017,/Restaurant_Review-g187309-d6864963-Reviews-Au...,d6864963
4,id_615,Munich,"['German', 'Central European', 'Vegetarian Fri...",621.0,4.0,$$ - $$$,84.0,02/19/2017,/Restaurant_Review-g187309-d6864963-Reviews-Au...,d6864963
5,id_1418,Oporto,NaN,1419.0,3.0,NaN,2.0,09/16/2017,/Restaurant_Review-g189180-d12503536-Reviews-D...,d12503536
5,id_1418,Oporto,NaN,1419.0,3.0,NaN,2.0,05/31/2017,/Restaurant_Review-g189180-d12503536-Reviews-D...,d12503536
6,id_1720,Milan,"['Italian', 'Pizza']",1722.0,4.0,$,50.0,08/04/2017,/Restaurant_Review-g187849-d5808504-Reviews-Pi...,d5808504
6,id_1720,Milan,"['Italian', 'Pizza']",1722.0,4.0,$,50.0,11/05/2017,/Restaurant_Review-g187849-d5808504-Reviews-Pi...,d5808504
7,id_825,Bratislava,['Italian'],826.0,3.0,NaN,9.0,02/16/2014,/Restaurant_Review-g274924-d3199765-Reviews-Ri...,d3199765
7,id_825,Bratislava,['Italian'],826.0,3.0,NaN,9.0,06/13/2012,/Restaurant_Review-g274924-d3199765-Reviews-Ri...,d3199765
8,id_2690,Vienna,NaN,2692.0,4.0,NaN,NaN,,/Restaurant_Review-g190454-d12845029-Reviews-G...,d12845029
8,id_2690,Vienna,NaN,2692.0,4.0,NaN,NaN,,/Restaurant_Review-g190454-d12845029-Reviews-G...,d12845029
9,id_4209,Rome,"['Italian', 'Pizza', 'Fast Food']",4210.0,4.0,$,55.0,11/07/2017,/Restaurant_Review-g187791-d8020681-Reviews-Qu...,d8020681
9,id_4209,Rome,"['Italian', 'Pizza', 'Fast Food']",4210.0,4.0,$,55.0,03/27/2017,/Restaurant_Review-g187791-d8020681-Reviews-Qu...,d8020681

## Number of Reviews

In [549]:
# Заполнение пропусков средним значением
df = df.drop(['Price Range', 'Reviews', \
           'URL_TA', 'ID_TA'], axis=1)
df['Number of Reviews'] = df['Number of Reviews'].fillna(df['Number of Reviews'].mean())

# Разбиваем датафрейм на части, необходимые для обучения и тестирования модели

In [550]:
# Х - данные с информацией о ресторанах, у - целевая переменная (рейтинги ресторанов)
X = df.drop(['Restaurant_id', 'Rating'], axis = 1)
y = df['Rating']

In [551]:
# Загружаем специальный инструмент для разбивки:
from sklearn.model_selection import train_test_split

In [552]:
# Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.
# Для тестирования мы будем использовать 25% от исходного датасета.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

# Создаём, обучаем и тестируем модель

In [553]:
# Импортируем необходимые библиотеки:
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели
from sklearn import metrics # инструменты для оценки точности модели

In [554]:
# Создаём модель
regr = RandomForestRegressor(n_estimators=100)

# Обучаем модель на тестовом наборе данных
regr.fit(X_train, y_train)

# Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.
# Предсказанные значения записываем в переменную y_pred
y_pred = regr.predict(X_test)

In [555]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они в среднем отличаются
# Метрика называется Mean Absolute Error (MAE) и показывает среднее отклонение предсказанных значений от фактических.
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))

MAE: 0.10882569402074431